@using Projeto.Util
@model PaginatedList<Projeto.Models.Cliente>

<style>
    .table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: #DAE0E5;
}
</style>

<!--========== ESSA TABELA É CHAMADA NO FORMULARIO Menu/Index  -->
<table class="table table-hover table-sm">   
    <thead>     
        <tr>
            <th>Nome</th>  
            <th>CPF</th>          
            <th>Data Nascimento</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
                    
            // ==================================== LINHA CORPO DA TABELA ===========================================-->
            <tr style="cursor: pointer" onclick="Edit(@item.Id,'btn-edit-cliente')" id="btn-edit-cliente" data-url="@Url.Action("Edit","Cliente")">
                <td>@item.Nome</td>     
                <td>@item.Cpf</td>                 
                <td>@item.DataNascimento</td>
             
            </tr>
        }
    
    </tbody>
</table>


<!-- ////////////////// Controle de paginação ///////////////////////-->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";   
    var prev = Model.PageIndex - 1;
    var next = Model.PageIndex + 1;        
}

<br />
<div style="margin-left: 3em;">
    Página @Model.PageIndex de @Model.TotalPages
</div>

<div id='paginacao-cliente' data-url="@Url.Action("BuscaDinamica","Cliente")"></div>
<a href="#" onclick="Paginacao(@prev, 'busca-dinamica-cliente', 'parametro-cliente', 'paginacao-cliente')" class="btn btn-default @prevDisabled">
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar
</a>
<a href="#" onclick="Paginacao(@next, 'busca-dinamica-cliente', 'parametro-cliente', 'paginacao-cliente')" class="btn btn-default @nextDisabled">
    Próximo <i class="fa fa-chevron-right" aria-hidden="true"></i>  
</a>


